/* *{
    background-image: url("../../../img/Background.png");
    z-index: 50;
} */


.upper-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: black;
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
    height: 100px;
    z-index: 100;
}


.Mcontent{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: -300px;
    justify-content: center;
    padding-left: 400px;
    width: 340px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: transparent;
}

